@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');
html, body, h1, h2, h3, h4, h5, h6, p, textarea {
	scroll-behavior: smooth !important;
    font-family: 'Oswald', sans-serif;
}
a {
	text-decoration: none !important;
}
input:focus, button:focus {
	box-shadow: none !important;
}
/*header menu*/
.header-navbar-bg {
	background: #000000 !important;
}
.header-navbar-bg a {
	color: white !important;
	text-transform: uppercase;
	font-size: 17px;
}
.active {
	background: #9A1515 !important;
}
.header-navbar li {
	padding-top: 1px;
	padding-bottom: 1px;
	float: left !important;
}
.header-navbar li:hover {
	background: #660404 !important;
}
li.header-search:hover {
	cursor: pointer;
}
.header-navbar li.dropdown .dropdown-menu a:hover {
	background: #660404 !important;
}
.header-navbar li.dropdown .dropdown-menu a:active {
	background: #660404 !important;
}
.header-navbar li.dropdown .dropdown-menu a:focus {
	background: #660404 !important;
}
.header-navbar li.dropdown:hover .dropdown-menu {
	display: block !important;
	top: 90%;
}
/*end of header menu*/

/*main content*/
main .card, main .card img {
	border-radius: 0 !important;
}
img.post-image:hover {
	opacity: 0.9;
}
.cat-title a {
	color: black;
}
.cat-title::after {
	content: '';
	border-bottom: 4px solid #660404;
	display: block;
	width: 100%;
}
.border-dash {
	border-bottom: 1px dashed gray;
	padding: 5px;
}
.pagination li a {
	color: black;
}
.pagination li:hover a {
	color: white;
	background: #660404;
}
/*end of main content*/

/*footer*/
div.subscribe form input {
    height: 40px;
    background: #ececec;
    border: 1px solid #ececec !important;
    border-radius: 30px 0 0 30px;
    padding-left: 20px;
    display: inline-block !important;
    width: 200px !important;
}
div.subscribe form button {
	height: 40px;
	border-radius: 0 30px 30px 0;
	padding-left: 20px;
	display: inline-block !important;
	text-transform: uppercase;
	position: absolute;
	background: #4a4747;
	border: none;
	color: white;
}

ul.footer-nav {
	display: block !important;
}
ul.footer-nav li {
	float: left;
	padding: 0 5px;
	border: 1px solid gray;
	margin: 2px;
}
ul.footer-nav li:hover {
	background: #3C3C3C;
}
ul.footer-nav li a {
	color: white;
	font-size: 17px;
}
div.follow-us p {
	border-bottom: 3px solid #751414;
}
/*end of footer*/

/*back to top*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #751414; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}